<!-- including footer -->
<%- include('include/_header')%>
<!-- /including footer -->

   
<div class="hero">
  <div class="hero-slide">
    <div
      class="img overlay"
      style="background-image: url('images/about2.jpg');
      opacity: 0.6;"
    ></div>
    <!-- <div
      class="img overlay"
      style="background-image: url('images/hero_bg_2.jpg')"
    ></div> -->
  
  </div>
    <!-- <div
      class="hero page-inner overlay"
      style="background-image: url('images/about.jpg')"
    > -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">About Us: Unveiling Our Company's Mission</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-4 bglight">

    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-lg-5">
          <h2 class="font-weight-bold about-head text-primary mb-4">
            Who We Are ?
          </h2>
          <p class="text-black-50">
            <form action=" "></form>
          </p>
        </div>
      </div>
      <div class="row justify-content-between mb-5">
        <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
          <div class="img-about dots">
            <img src="images/teamwork.png" alt="Image" class="img-fluid size" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex feature-h">
            
              <span class="icon-home2"></span>
            </span>
            <div class="feature-text-about box-feature-about col">
              <h3 class="heading about-gold-size">Loyalty</h3>
              <p class="white-18">
                Loyalty is the foundation of success, we at Emitence believes in the power of Loyalty. That's why we honor it with every decision we make.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
            
              <span class="icon-person"></span>
            </span>
            <div class="feature-text-about box-feature-about col">
              <h3 class="heading about-gold-size">Ethical Practices</h3>
              <p class="white-18">
                We provide Right information at the right time in the best possible manner and  insights of Real estate to our Home Buyer’s for the Seamless Experience.
            </div>
          </div>

          <div class="d-flex feature-h">
          
              <span class="icon-security"></span>
            </span>
            <div class="feature-text-about box-feature-about col" > 
              <h3 class="heading about-gold-size">Professionalism</h3>
              <p class="white-18">
                We are dedicated, considerate and responsive, always maintaining the highest standards of conduct, quality and performance for the HOME BUYER’S
              </p>
            </div>
          </div>
        </div>
      </div>
    
        </div>
      </div>
    </div>
  </div>

    

    
        

    <div class="section pt-0 text-center">
      <div class="container">
        <div class="row justify-content-between mb-5">
          
            <!-- <div class="img-about dots">
              <img src="images/hero_bg_2.jpg" alt="Image" class="img-fluid" />
            </div> -->
            <h1 class="white-60 what" style="margin-top:10%;">Our Mission </h1> <br><br>
            <!-- ************************ -->
            <div class="col-lg-18">
              <p class="white-18 what" >
                Emitence is connecting Home buyers to the developers which suits their requirements. We at Emitence providing end to end services to the home buyers with Trust, Ethical Practices and Professionalism. 
  
              </p>
              
              <p class="white-18 what">
                Emitence is a digital real estate advisory firm offering a one-stop platform for the Home Buyer’s which Include Realty Service , Home Loan Services & Interiores. 
    We at Emitence believes to see a big dream and work to fulfill it, And now it’s our responsibility to full fill our Home Buyer’s Dream Home
              </p>
            </div>
          
          
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row"> 
          <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
            <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
          </div>
        </div> -->
      
        </div>
      </div>
    </div>

    
      
<!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->
  
   