<!-- including footer -->
<%- include('include/_header')%>
<!-- /including footer -->

   
<div class="hero">
  <div class="hero-slide">
    <div
      class="img overlay"
      style="background-image: url('images/about.jpg')"
    ></div>
    <!-- <div
      class="img overlay"
      style="background-image: url('images/hero_bg_2.jpg')"
    ></div> -->
  
  </div>
    <!-- <div
      class="hero page-inner overlay"
      style="background-image: url('images/about.jpg')"
    > -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">About</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="section text-center">
      <div class="container what">
        <div class="row text-center mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading white-60 mb-4 what">What "WE" are ?
            </h2>
          </div>
          <div class="what">
            <p class="white-18">
              Emitence is connecting Home buyers to the developers which suits their requirements. We at Emitence realty providing end to end services to the home buyers with Trust, Ethical Practices and Professionalism. 

            </p>
            
            <p class="white-18">Emitence is a digital real estate advisory firm offering a one-stop platform for the Home Buyer’s which Include Realty Service , Home Loan Services & Interiores. 
  We at Emitence realty believes to see a big dream and work to fulfill it, And now it’s our responsibility to full fill our Home Buyer’s Dream Home
            </p>
          </div>
          <div class="col-lg-6">
            <!-- <p class="white-15">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              saepe, explicabo nihil. Est, autem error cumque ipsum repellendus
              veniam sed blanditiis unde ullam maxime veritatis perferendis
              cupiditate, at non esse!
            </p>
            <p class="white-15">
              Enim, nisi labore exercitationem facere cupiditate nobis quod
              autem veritatis quis minima expedita. Cumque odio illo iusto
              reiciendis, labore impedit omnis, nihil aut atque, facilis
              necessitatibus asperiores porro qui nam.
            </p> -->
          </div>
        </div>
      </div>
    </div>

    

    <div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img src="images/Start.png" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4 white">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Loyalty
                </h3>
                <p class="white-15">
                  Loyalty is the foundation of success, we at Emitence believes in the power of Loyalty. That's why we honor it with every decision we make. 

                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Ethical Practices</h3>
                <p class="white-15">
                  We provide Right information at the right time in the best possible manner and  insights of Real estate to our Home Buyer’s for the Seamless Experience.

                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Professionalism</h3>
                <p class="white-15">
                  We are dedicated, considerate and responsive, always maintaining the highest standards of conduct, quality and performance for the HOME BUYER’S
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section pt-0 text-center">
      <div class="container ">
        <div class="row justify-content-between mb-5">
          
            <!-- <div class="img-about dots">
              <img src="images/hero_bg_2.jpg" alt="Image" class="img-fluid" />
            </div> -->
            <h1 class="white-60 what">Our Mission </h1> <br><br>
            <!-- ************************ -->
            <div class="col-lg-18">
              <p class="white-18 what" >
                Emitence is connecting Home buyers to the developers which suits their requirements. We at Emitence providing end to end services to the home buyers with Trust, Ethical Practices and Professionalism. 
  
              </p>
              
              <p class="white-18 what">
                Emitence is a digital real estate advisory firm offering a one-stop platform for the Home Buyer’s which Include Realty Service , Home Loan Services & Interiores. 
    We at Emitence believes to see a big dream and work to fulfill it, And now it’s our responsibility to full fill our Home Buyer’s Dream Home
              </p>
            </div>
          
          
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row"> 
          <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
            <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
          </div>
        </div> -->
      
        </div>
      </div>
    </div>

    
      
<!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->
  
   