
<%- include('include/_header')%>
<!-- /including footer -->

   

    <div class="hero">
      <div class="hero-slide">
        <div
          class="img overlay"
          style="background-image: url('images/table.jpg')"
        ></div>
        <!-- <div
          class="img overlay"
          style="background-image: url('images/hero_bg_2.jpg')"
        ></div> -->
        <!-- <div
          class="img overlay"
          style="background-image: url('images/key.jpg')"
        ></div> -->
      </div>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center">
            <h1 class="heading" data-aos="fade-up">
              Easiest way to find your dream home
            </h1>
            <!-- <form
              action="#"
              class="narrow-w form-search d-flex align-items-stretch mb-3"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <input
                type="text"
                class="form-control px-4"
                placeholder="Your ZIP code or City. e.g. New York"
              />
              <button type="submit" class="btn btn-primary">Search</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>

    

  






  <!-- ********************************************************************* -->


  <div class="section">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 mb-5 mb-lg-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
        <div class="contact-info">
          <div class="address mt-2">
            <i class="icon-room"></i>
            <h4 class=" gold mb-2">Location:</h4>
            <p class="white">
              Office No:- A-342, Lodha Signet, Kolshet Road Thane <br>

West Mumbai (Maharashtra)<br>


            </p>
          </div>

          <div class="open-hours mt-4">
            <i class="icon-clock-o"></i>
            <h4 class="gold mb-2">Open Hours:</h4>
            <p class="white">
              <!-- Monday Closed<br />
              10:00 AM - 7:00 PM -->
              10am–7:30pm<br>
              (Monday	Closed)
          
              
            </p>
          </div>

          <div class="email mt-4">
            <i class="icon-envelope"></i>
            <h4 class="gold mb-2">Email:</h4>
            <p class="white">admin@emitencerealty.com</p>
          </div>

          <div class="phone mt-4">
            <i class="icon-phone"></i>
            <h4 class="gold mb-2">Call:</h4>
            <p class="white">+91 91591 55237</p>
          </div>
        </div>
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200" id="contact">
          <form id="flatEnquiryForm" action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Name" name="name" required><br><br>
        
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" placeholder="Phone Number" name="contactNumber" required><br><br>
        
            <label for="location">Preferred City & Location:</label>
            <select id="location" name="location">
              <option value="Mumbai">Mumbai</option>
              <option value="Navi Mumbai">Navi Mumbai</option>
              <option value="Thane">Thane</option>
            
            </select><br><br>
        
            
            <label for="flatType">Typology:</label>
            <label for="1bhk"><input type="radio" id="1bhk" name="flatType" value="1 RK">1 RK </label>
            
            <label for="2bhk"><input type="radio" id="2bhk" name="flatType" value="5 BHK Jodi">5 BHK Jodi </label>
            
            <label for="3bhk"><input type="radio" id="3bhk" name="flatType" value="Penthouse">Penthouse  </label>
            
            <br>
        
            <label for="budget">Budget:</label>
            <select id="budget" name="budget">
              <option value="10 To 15 Cr ">10 To 15 Cr</option>
              <option value="15 to 20 Cr">15 to 20 Cr</option>
           
            </select><br><br>

            <label for="remarks">Message:</label>
            <input type="text" id="remarks" placeholder="Drop a message (optional)" name="remarks" >
          
            <input type="submit" value="Submit">
          </form>
          
            </div>
        </div>
      </div>
    </div>
  </div>

  </div>
          

   <!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->