<!-- including footer -->
<%- include('include/_header')%>
<!-- /including footer -->

   

<div class="hero">
    <div class="hero-slide">
        <div
        class="img overlay"

        style="background-image: url('images/flat.jpg')"
        ></div>
        <!-- <div
            class="img overlay"
            style="background-image: url('images/hero_bg_2.jpg')"
            ></div> -->
            <!-- <div
                class="img overlay"
                style="background-image: url('images/hero_bg_3.png')"
                ></div> -->
            </div>
            
            <div class="container">
                <div id="cornerPopup" class="corner-popup"></div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 text-center">
                        <h1 class="heading" data-aos="fade-up">
                            Easiest way to find your dream home
                            

                        </h1>
                        <%- include('include/_form')%>
                        <!-- <form
            action="#"
            class="narrow-w form-search d-flex align-items-stretch mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <input
              type="text"
              class="form-control px-4"
              placeholder="Your ZIP code or City. e.g. New York"
            /> -->
            <!-- <button type="submit" class="btn btn-primary">Contact Us</button> -->
        
        </div>
      </div>
    </div>
  </div>

  <section class="features-1 bg-light">
    <div class="container32">
      <div class="row">
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="box-feature col">
            <span class="flaticon-house"></span>
            <h3 class="mb-3">Home Loans</h3>
            <p>
             
              Find your homeownership now through our flexible and competitive home loan options, all thoughtfully structured to perfectly fit your unique needs
            </p>
            <!-- <p><a href="#" class="learn-more">Learn More</a></p> -->
          </div>
        </div>
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
          <div class="box-feature col">
            <span class="flaticon-building"></span>
            <h3 class="mb-3">Rent a House</h3>
            <p>
              Easily find your rental home among our vast selection of properties, providing comfort and quality living spaces designed to suit your preferences  effortlessly.
            </p>
            <!-- <p><a href="#" class="learn-more">Learn More</a></p> -->
          </div>
        </div>
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
          <div class="box-feature col">
            <span class="flaticon-house-3"></span>
            <h3 class="mb-3">Real Estate Agent</h3>
            <p>
       
"Experience the expertise and dedication of our professional real estate agents, committed to guiding you through every step of your real estate journey and helping you achieve your property goals."
            </p>
            <!-- <p><a href="#" class="learn-more">Learn More</a></p> -->
          </div>
        </div>
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
          <div class="box-feature col">
            <span class="flaticon-house-1"></span>
            <h3 class="mb-3">House for Sale</h3>
            <p>
              "Explore outstanding houses for sale that align with your preferences and budget, presenting a golden opportunity to discover your dream home and make a wise investment for the future."


            </p>
            <!-- <p><a href="#" class="learn-more">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </section>



  <div class="section bg-light">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-lg-6">
         
                  </div>
                </div>
              </div>
              <!-- .item -->
            </div>

            <div
              id="property-nav"
              class="controls"
              tabindex="0"
              aria-label="Carousel Navigation"
            >
              <span
                class="prev"
                data-controls="prev"
                aria-controls="property"
                tabindex="-1"
                >Prev</span
              >
              <span
                class="next"
                data-controls="next"
                aria-controls="property"
                tabindex="-1"
                >Next</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  







  <div class="section section-4 bglight">

    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-lg-5">
          <h2 class="font-weight-bold heading text-primary mb-4">
            Let's find home that's perfect for you
          </h2>
          <p class="text-black-50">
            <form action=" "></form>
          </p>
        </div>
      </div>
      <div class="row justify-content-between mb-5">
        <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
          <div class="img-about dots">
            <img src="images/sofa.png" alt="Image" class="img-fluid size" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex feature-h">
            
              <span class="icon-home2"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Properties</h3>
              <p class="text-black-50">
                Discover the finest properties in Mumbai, Thane, and New Mumbai, offering <br>unparalleled quality and luxury.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
            
              <span class="icon-person"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Top Rated Agents</h3>
              <p class="text-black-50">
                Trust the expertise of our top-rated agents who are dedicated <br> to delivering exceptional service and helping you find your dream property.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
          
              <span class="icon-security"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Legit Properties</h3>
              <p class="text-black-50">
                Explore our portfolio of legit properties, curated to provide you with reliable <br>and trustworthy options for your real estate needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
  <!-- <div class="section section-4 bglight">

    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-lg-5">
          <h2 class="font-weight-bold heading text-primary mb-4">
            Let's find home that's perfect for you
          </h2>
          <p class="text-black-50">
            <form action=" "></form>
          </p>
        </div>
      </div>
      <div class="row justify-content-between mb-5">
        <div class="col-lg-4 ">
          <div class="img-about dots">
            <img src="images/sofa.png" alt="Image" class="img-fluid size" />
          </div>
        </div>
        <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
          <div class="d-flex feature-h">
            
              <span class="icon-home2"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Properties</h3>
              <p class="text-black-50">
                Discover the finest properties in Mumbai, Thane, and New Mumbai, offering <br>unparalleled quality and luxury.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
            
              <span class="icon-person"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Top Rated Agents</h3>
              <p class="text-black-50">
                Trust the expertise of our top-rated agents who are dedicated <br> to delivering exceptional service and helping you find your dream property.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
          
              <span class="icon-security"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Legit Properties</h3>
              <p class="text-black-50">
                Explore our portfolio of legit properties, curated to provide you with reliable <br>and trustworthy options for your real estate needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    
        </div>
      </div>
    </div>
  </div>

   -->
   <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

 

  <!-- <div class="section section-5 bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-lg-6 mb-5">
          <h2 class="font-weight-bold heading text-primary mb-4">
            Our Agents
          </h2>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            enim pariatur similique debitis vel nisi qui reprehenderit totam?
            Quod maiores.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src="images/person_1-min.jpg"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0"><a href="#">Name</a></h2>
              <span class="meta d-block mb-3">Real Estate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src="images/person_2-min.jpg"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0"><a href="#">Name</a></h2>
              <span class="meta d-block mb-3">Real sdEstate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src="images/person_3-min.jpg"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0"><a href="#">Name</a></h2>
              <span class="meta d-block mb-3">Real Estate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="section bg-light">
    <div class="video">

      <div class="video-container">
        
        <iframe width="90%" height="100%" src="https://www.youtube.com/embed/ER_3mwZWVNs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-container">
        
      <h3> Explore our YouTube channel for more such videos</h3><a href="https://www.youtube.com/@EmitenceRealty" class="a"><img src="images/youtube.png" width="150px" alt=""><div class="youtube"><h4>@EmitenceRealty</h4></div></a>
      </div>
    </div>
</div>
<!-- ********************************************************************* -->


  <div class="section">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 mb-5 mb-lg-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
        <div class="contact-info">
          <div class="address mt-2">
            <i class="icon-room"></i>
            <h4 class=" gold mb-2">Location:</h4>
            <p class="white">
              Office No 342 , Lodha Signet Kolshet Road Thane West. <br>

400604 Pin Code <br>

Lane Line No :- 022-47487058
            </p>
          </div>

          <div class="open-hours mt-4">
            <i class="icon-clock-o"></i>
            <h4 class="gold mb-2">Open Hours:</h4>
            <p class="white">
              <!-- Monday Closed<br />
              10:00 AM - 7:00 PM -->
              10am–7:30pm<br>
              (Monday	Closed)
          
              
            </p>
          </div>

          <div class="email mt-4">
            <i class="icon-envelope"></i>
            <h4 class="gold mb-2">Email:</h4>
            <p class="white">emitencerealty@gmail.com</p>
          </div>

          <div class="phone mt-4">
            <i class="icon-phone"></i>
            <h4 class="gold mb-2">Call:</h4>
            <p class="white">+91 91591 55237</p>
          </div>
        </div>
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200" id="contact">
          <form id="flatEnquiryForm" action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Name" name="name" required><br><br>
        
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" placeholder="Phone Number" name="contactNumber" required><br><br>
        
            <label for="location">Preferred City & Location:</label>
            <select id="location" name="location">
              <option value="Mumbai">Mumbai</option>
              <option value="Navi Mumbai">Navi Mumbai</option>
              <option value="Thane">Thane</option>
            
            </select><br><br>
        
            
            <label for="flatType">Typology:</label>
            <label for="1bhk"><input type="radio" id="1bhk" name="flatType" value="1 RK">1 RK </label>
            
            <label for="2bhk"><input type="radio" id="2bhk" name="flatType" value="5 BHK Jodi">5 BHK Jodi </label>
            
            <label for="3bhk"><input type="radio" id="3bhk" name="flatType" value="Penthouse">Penthouse  </label>
            
            <br>
        
            <label for="budget">Budget:</label>
            <select id="budget" name="budget">
              <option value="10 To 15 Cr ">10 To 15 Cr</option>
              <option value="15 to 20 Cr">15 to 20 Cr</option>
           
            </select><br><br>

            <label for="remarks">Message:</label>
            <input type="text" id="remarks" placeholder="Drop a message (optional)" name="remarks" >
          
            <input type="submit" value="Submit">
          </form>
          
            </div>
        </div>
      </div>
    </div>
  </div>

  </div>
<script>
  const videoContainers = document.querySelectorAll('.video-container');
const popupOverlay = document.querySelector('.popup-overlay');
const popupContent = document.querySelector('.popup-content');
const closeBtn = document.querySelector('.close-btn');
const popupVideo = document.getElementById('popup-video');

videoContainers.forEach(container => {
    container.addEventListener('click', () => {
        const iframe = container.querySelector('.video-popup');
        const videoSrc = iframe.getAttribute('src');
        popupVideo.setAttribute('src', videoSrc);

        popupOverlay.style.display = 'flex';
    });
});

popupOverlay.addEventListener('click', (event) => {
    if (event.target === popupOverlay || event.target === closeBtn) {
        popupOverlay.style.display = 'none';
        popupVideo.setAttribute('src', '');
    }
});
</script>
<!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->
