
<%- include('include/_header')%>
<!-- /including footer -->



<div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('images/hero_bg_3.png')"
      ></div>
      <!-- <div
        class="img overlay"
        style="background-image: url('images/hero_bg_2.jpg')"
      ></div> -->
      <div
        class="img overlay"
        style="background-image: url('images/hero_bg_1.jpg')"
      ></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
              <h1 class="heading" data-aos="fade-up">Privacy and Policy</h1>
  
              <nav
                aria-label="breadcrumb"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <ol class="breadcrumb text-center justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li
                    class="breadcrumb-item active text-white-50"
                    aria-current="page"
                  >
                   Privacy and Policy
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
          <!-- <form
            action="#"
            class="narrow-w form-search d-flex align-items-stretch mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <input
              type="text"
              class="form-control px-4"
              placeholder="Your ZIP code or City. e.g. New York"
            />
            <button type="submit" class="btn btn-primary">Search</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>
  

  <!-- *************************************************************************************** -->
  <div class="section privacy" width="70%">
    
        <h1 class="heading white-36 privacy" >Privacy and Policy</h1>
        <p class="white-16 privacy" >
            This Privacy Policy is prepared by Emitence Realty and Developers LLP. and whose registered address is  Office No:- A-342, Lodha Signet, Kolshet Road Thane 

            West Mumbai (Maharashtra) (“We”) are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us. 

This policy sets out how we process any personal data we collect from you or that you provide to us through our website and social media sites. We confirm that we will keep your information secure and that we will comply fully with all applicable India Data Protection legislation and regulations. Please read the following carefully to understand what happens to personal data that you choose to provide to us, or that we collect from you when you visit our sites. By submitting information, you are accepting and consenting to the practices described in this policy. 

          </p>

          <h1 class="heading white-36 privacy" >Types of information we may collect from you </h1>
          <p class="white-16 privacy">
            We may collect, store and use the following kinds of personal information about individuals who visit and use our website and social media sites: 

            Information you supply to us. You may supply us with information about you by filling in forms on our website or social media. This includes information you provide when you submit a contact/enquiry form. The information you give us may include, but not limited to, your name, address, e-mail address and phone number. 
 
          </p>
          <h1 class="heading white-36 privacy" >How we may use the information we collect  </h1>
          <p class="white-16 privacy">
            We use the information in the following ways: 

            Information you supply to us. We will use this information: 
            
            <li class="white-16 privacy">To provide you with information and/or services that you request from us;  </li> 
            <li class="white-16 privacy">To contact you to provide the information requested. ;  </li> 
            
            
          </p>
          <h1 class="heading white-36 privacy" >Disclosure of your information </h1>
          <p class="white-16 privacy">
            Any information you provide to us will either be emailed directly to us or may be stored on a secure server. 

            We do not rent, sell or share personal information about you with other people or non-affiliated companies. 
            
            We will use all reasonable efforts to ensure that your personal data is not disclosed to regional/national institutions and authorities, unless required by law or other regulations. 
            
            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at
            your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.
            
          </p>
          <h1 class="heading white-36 privacy" >Your rights – access to your personal data </h1>
          <p class="white-16 privacy">
            You have the right to ensure that your personal data is being processed lawfully (“Subject Access Right”). Your subject access right can be exercised in accordance with data protection laws and regulations. Any subject access request must be made in writing to +91-91591-55237. We will provide your personal data to you within the statutory time frames. To enable us to trace any of your personal data that we may be holding, we may need to request further information from you. If you have a complaint about how we have used your information, you have the right to complain to the Information Commissioner’s Office (ICO). 
          </p>
          <h1 class="heading white-36 privacy" >Changes to our privacy policy  </h1>
          <p class="white-16 privacy">
            Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy. 
          </p>
          <h1 class="heading white-36 privacy" >Contact </h1>
          <p class="white-16 privacy">
            Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to emitencerealty@gmail.com. 

 

          </p>
     </div>
  </div>

   <!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->