<!-- including footer -->
<%- include('include/_header')%>
<!-- /including footer -->

   
    <div class="hero">
      <div class="hero-slide">
        <div
          class="img overlay"
          style="background-image: url('images/kitchen.jpg')"
        ></div>
        <!-- <div
          class="img overlay"
          style="background-image: url('images/hero_bg_2.jpg')"
        ></div> -->
      
      </div>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Services</h1>
    
                <nav
                  aria-label="breadcrumb"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <ol class="breadcrumb text-center justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li
                      class="breadcrumb-item active text-white-50"
                      aria-current="page"
                    >
                      Services
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
            <!-- <form
              action="#"
              class="narrow-w form-search d-flex align-items-stretch mb-3"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <input
                type="text"
                class="form-control px-4"
                placeholder="Your ZIP code or City. e.g. New York"
              />
              <button type="submit" class="btn btn-primary">Search</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
    

    

    <div class="section bg-light" >
      <div class="container">
        <h1>Realty Services</h1>
        <div class="row">
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="box-feature mb-4">
              <span class="flaticon-house mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                IDENTIFICATION OF PROPERTY  

              </h3>
              <p class="text-black-50">
                Our expert team assists in identifying properties that align with your specific requirements, considering factors such as location, budget, and amenities, ensuring a tailored search experience.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <div class="box-feature mb-4">
              <span class="flaticon-house-2 mb-4 d-block-3"></span>
              <h3 class="text-black mb-3 font-weight-bold">SITE VISIT</h3>
              <p class="text-black-50">
                We arrange site visits to the shortlisted properties, allowing you to personally evaluate and assess each property's features, condition, and surroundings, enabling an informed decision-making process.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
            <div class="box-feature mb-4">
              <span class="flaticon-building mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                BOOKING
              </h3>
              <p class="text-black-50">
                Once you have chosen your desired property, we facilitate the booking process, providing guidance and assistance in completing the necessary paperwork and formalities to secure the property of your choice.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
            <div class="box-feature mb-4">
              <span class="flaticon-house-3 mb-4 d-block-1"></span>
              <h3 class="text-black mb-3 font-weight-bold">POSSESSION</h3>
              <p class="text-black-50">
                We ensure a smooth transition by coordinating with all involved parties, such as developers, sellers, and legal authorities, to facilitate the possession of the property within the agreed-upon timelines.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>

          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="box-feature mb-4">
              <span class="flaticon-house-4 mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                ANALYSING REQUIREMENT 

              </h3>
              <p class="text-black-50">
                We carefully analyze your specific requirements, considering factors like budget, location preferences, and property specifications, enabling us to offer personalized recommendations that match your needs.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <div class="box-feature mb-4">
              <span class="flaticon-building mb-4 d-block-3"></span>
              <h3 class="text-black mb-3 font-weight-bold">SHORTLISTING  PROPERTY  
              </h3>
              <p class="text-black-50">
                Based on your preferences, we shortlist a range of properties that meet your criteria, presenting you with a curated selection to choose from, saving you time and effort in the property search process.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
         
        </div>
      </div>
      <div class="section section-5 bg-light">
        <div class="loan-calculator">
          <div class="top">
            <h2>Loan Calculator</h2>
      
            <form action="#">
              <div class="group">
                <div class="title">Amount</div>
                <input type="text" value="30000" class="loan-amount" />
              </div>
      
              <div class="group">
                <div class="title">Interest Rate</div>
                <input type="text" value="8.5" class="interest-rate" />
              </div>
      
              <div class="group">
                <div class="title">Tenure (in months)</div>
                <input type="text" value="240" class="loan-tenure" />
              </div>
            </form>
          </div>
      
          <div class="result">
            <div class="left">
              <div class="loan-emi">
                <h3>Loan EMI</h3>
                <div class="value">123</div>
              </div>
      
              <div class="total-interest">
                <h3>Total Interest Payable</h3>
                <div class="value">1234</div>
              </div>
      
              <div class="total-amount">
                <h3>Total Amount</h3>
                <div class="value">12345</div>
              </div>
      
              <button class="calculate-btn">Calculate</button>
            </div>
      
            <div class="right">
              <canvas id="myChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h1>Loan Service</h1>
        <div class="row">
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="box-feature mb-4">
              <span class="flaticon-house mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                LOAN APPLICATION

              </h3>
              <p class="text-black-50">
                We assist you in preparing and submitting the loan application, ensuring all necessary documents and information are accurately compiled and submitted to the lending institution..
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <div class="box-feature mb-4">
              <span class="flaticon-house-2 mb-4 d-block-3"></span>
              <h3 class="text-black mb-3 font-weight-bold">PRE APPROVAL
              </h3>
              <p class="text-black-50">
                We help you navigate the pre-approval process, working closely with the lending institution to assess your eligibility for a loan based on factors such as income, credit history, and property valuation.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
            <div class="box-feature mb-4">
              <span class="flaticon-building mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                REVIEW BY BANKER

              </h3>
              <p class="text-black-50">
                Our team collaborates with experienced bankers who review your loan application, supporting you in addressing any queries or additional documentation required by the lending institution
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
            <div class="box-feature mb-4">
              <span class="flaticon-house-3 mb-4 d-block-1"></span>
              <h3 class="text-black mb-3 font-weight-bold">SANCTION LETTER
                </h3>
              <p class="text-black-50">
                Upon successful evaluation and approval of your loan application, we facilitate the issuance of a sanction letter, outlining the loan amount, terms, and conditions, providing you with the confidence to move forward with your property purchase.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>

          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="box-feature mb-4">
              <span class="flaticon-house-4 mb-4 d-block"></span>
              <h3 class="text-black mb-3 font-weight-bold">
                DISBURSEMENT
              </h3>
              <p class="text-black-50">
                We liaise with the lending institution to ensure a smooth disbursement process, coordinating the necessary paperwork and verification to enable the transfer of loan funds to the designated account.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <div class="box-feature mb-4">
              <span class="flaticon-building mb-4 d-block-3"></span>
              <h3 class="text-black mb-3 font-weight-bold">POSSESSION</h3>
              <p class="text-black-50">
                Once the loan disbursement is complete, we continue to assist you through the possession process, coordinating with relevant parties to ensure a seamless transition and the timely handover of the property.
              </p>
              <!-- <p><a href="#" class="learn-more">Read more</a></p> -->
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <!-- **********************************************************************0 -->

 

    <!-- ********************************************************************** -->
   

<!-- including footer -->
<%- include('include/_footer')%>
<!-- /including footer -->