<div id="overlay">

   
</div>
<div id="formContainer">


<h2 style="color: aliceblue;">Contact Us</h2>
<form id="flatEnquiryForm" action="/submit" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Name" name="name" required><br><br>

    <label for="contactNumber">Contact Number:</label>
    <input type="text" id="contactNumber" placeholder="Phone Number" name="contactNumber" required><br><br>

    <label for="location">Preferred City & Location:</label>
    <select id="location" name="location">
      <option value="Mumbai">Mumbai</option>
      <option value="Navi Mumbai">Navi Mumbai</option>
      <option value="Thane">Thane</option>
    
    </select><br><br>

    
    <label for="flatType">Typology:</label>
    <label for="1bhk"><input type="radio" id="1bhk" name="flatType" value="1 RK">1 RK </label>
    
    <label for="2bhk"><input type="radio" id="2bhk" name="flatType" value="5 BHK Jodi">5 BHK Jodi </label>
    
    <label for="3bhk"><input type="radio" id="3bhk" name="flatType" value="Penthouse">Penthouse  </label>
    
    <br>

    <label for="budget">Budget:</label>
    <select id="budget" name="budget">
      <option value="10 To 15 Cr ">10 To 15 Cr</option>
      <option value="15 to 20 Cr">15 to 20 Cr</option>
   
    </select><br><br>
    <label for="remarks">Message:</label>
    <input type="text" id="remarks" placeholder="Drop a message (optional)" name="remarks" >
  
    <input type="submit" onclick="closeFormPopup()" value="Submit">
  </form>
  <span id="closeButton" onclick="closeFormPopup()">X</span>
</div>